.clear {
    clear: both;
}
.hidden,
form.aui .hidden,
form.aui .field-group.hidden,
form.aui fieldset.hidden {
    display: none;
}

.assistive,
legend.assistive span {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* light shadow for use on dropdowns, inline dialogs */
.aui-box-shadow {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13); 
}

/* dialog no longer gets shadow - "blanket is the shadow" */
.aui-dialog.aui-box-shadow {
    -webkit-box-shadow: none;
    box-shadow: none; 
}
