/*! AUI Inline Dialog */
.aui-inline-dialog {
    display: none;
    position: absolute;
    z-index: 100;
}

.aui-inline-dialog .aui-box-shadow {
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.13);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.13); 
}

.aui-inline-dialog .contents {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    overflow: hidden;
    padding: 20px;
    width: 320px;
}
.aui-inline-dialog .arrow {
    position: absolute;
    height: 16px;
    top: -7px; /* matches #inline-dialog-shim */
    width: 16px;
}
#inline-dialog-shim {
    display: none;
}

/* Inline Dialog + Forms Integration - top labels and full width fields supported */
/* funny numbers to add up to 20px spacing in various places (border to cap height/baseline) */
.aui-inline-dialog .contents form.aui h2:first-child {
    border-bottom: 1px solid #ccc;
    margin: -7px 0 11px 0;
    padding: 0 0 12px 0;
}
.aui-inline-dialog .contents form.aui .buttons-container {
    margin-top: 16px;
    padding: 0;
}
.aui-inline-dialog .contents .submit + .cancel {
    margin-left: 0;
}

