/*! AUI Tabs */

/* temp override */
.aui-tabs {
    font-size: 14px;
    line-height: 1.46; /* 20px equiv line-height */
}

/* Functional style */
.aui-tabs > .tabs-pane {
    display: none;
}
.aui-tabs > .tabs-pane.active-pane {
    display: block;
}

/* Common styles - Vertical and Horizontal */

.aui-tabs > .tabs-menu > .menu-item > a strong {
    background: transparent;
    font-weight: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer; /* set explicitly to avoid ie bug */
}

.aui-tabs > .tabs-menu > .menu-item.active-tab > a,
.aui-tabs > .tabs-menu > .menu-item.active-tab > a strong {
    font-weight: bold;
}

.aui-tabs > .tabs-menu .menu-item a,
.aui-tabs > .tabs-menu .menu-item a:link,
.aui-tabs > .tabs-menu .menu-item a:visited {
    background: #eee;
    color: #333;
}

.aui-tabs > .tabs-menu .menu-item a:focus,
.aui-tabs > .tabs-menu .menu-item a:hover {
    background: #e6e6e6;
    color: #333;
}

.aui-tabs > .tabs-menu .menu-item.active-tab a,
.aui-tabs > .tabs-menu .menu-item.active-tab a:link,
.aui-tabs > .tabs-menu .menu-item.active-tab a:visited,
.aui-tabs > .tabs-menu .menu-item.active-tab a:focus,
.aui-tabs > .tabs-menu .menu-item.active-tab a:hover,
.aui-tabs > .tabs-menu .menu-item.active-tab a:active {
    background: #fff;
    color: #333;
}


/* Vertical Tabs - PDL colours but spacing still to be tweaked */
.aui-tabs.vertical-tabs > .tabs-menu {
    position: relative;
    float: left;
    width: 11em;
    z-index: 5;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.aui-tabs.vertical-tabs > .tabs-menu > .menu-item {
    border: 1px solid #ccc;
    border-right: none;
    margin: -1px 0 0 0;
}
.aui-tabs.vertical-tabs > .tabs-menu > .menu-item:first-child {
    margin-top: 1em;
}
.aui-tabs.vertical-tabs > .tabs-menu > .menu-item.active-tab {
    margin-left: -0.5em;
    margin-right: -1px;
}
.aui-tabs.vertical-tabs > .tabs-menu > .menu-item.active-tab > a > strong {
    padding: 4px 10px;

}
.aui-tabs.vertical-tabs > .tabs-menu > .menu-item > a {
    display: block;
    text-decoration: none;
}
.aui-tabs.vertical-tabs > .tabs-menu > .menu-item > a > strong {
    display: block;
    overflow: hidden;
    padding: 3px 10px 4px 10px;
}
.aui-tabs.vertical-tabs > .tabs-menu > .menu-item strong {
    padding-right: 0;
}

.aui-tabs.vertical-tabs > .tabs-pane {
    background: #fff;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 0 0 0 11em;
    padding: 20px;
    position: relative;
    z-index: 1;
}

/* Horizontal Tabs - PDL */
.aui-tabs.horizontal-tabs > .tabs-menu {
    border-bottom: 1px solid #ccc;
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
}

.aui-tabs.horizontal-tabs > .tabs-menu > .menu-item {
    display: block;
    float: left;
    margin: 0;
    background: #eee;
}
.aui-tabs.horizontal-tabs > .tabs-menu > .menu-item:first-child {
    margin-left: 20px;
}
.aui-tabs.horizontal-tabs > .tabs-menu > .menu-item:first-child a {
    border-radius: 3px 0 0 0;
    border-left: 1px solid #ccc;
}
/* last-child ok because IE8 doesn't do border radius anyway */
.aui-tabs.horizontal-tabs > .tabs-menu > .menu-item:last-child a {
    border-radius: 0 3px 0 0;
}

.aui-tabs.horizontal-tabs > .tabs-menu > .menu-item > a,
.aui-tabs.aui-tabs-disabled.horizontal-tabs > .tabs-menu > .menu-item > a:focus,
.aui-tabs.aui-tabs-disabled.horizontal-tabs > .tabs-menu > .menu-item > a:hover,
.aui-tabs.aui-tabs-disabled.horizontal-tabs > .tabs-menu > .menu-item > a:active {
    display: block;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 4px 10px 3px 10px;
    text-decoration: none;
}

.aui-tabs.horizontal-tabs > .tabs-menu > .menu-item.active-tab a,
.aui-tabs.aui-tabs-disabled.horizontal-tabs > .tabs-menu > .active-tab > a:focus,
.aui-tabs.aui-tabs-disabled.horizontal-tabs > .tabs-menu > .active-tab > a:hover,
.aui-tabs.aui-tabs-disabled.horizontal-tabs > .tabs-menu > .active-tab > a:active {
    background: #fff;
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
    position: relative;
}
.aui-tabs.horizontal-tabs > .tabs-menu > .active-tab > a,
.aui-tabs.horizontal-tabs > .tabs-menu > .active-tab > a strong {
    font-weight: normal;
}

/* Disabled/Page Tabs */
.aui-tabs.aui-tabs-disabled > .tabs-menu > .menu-item > a {
    cursor: default;
}

/* reloadable tabs (active tab has different cursor affordance) */
.active-tab.reloadable-tab a,
.active-tab.reloadable-tab a strong { cursor: pointer !important; }

/* legacy tabs override - deprecated, to be remove in aui 5.0 */
.aui-tabs.vertical-tabs.aui-legacystyle2011 > .tabs-menu .menu-item strong {
    text-overflow: clip;
}
.aui-tabs.vertical-tabs.aui-legacystyle2011 > .tabs-menu .menu-item.active-tab {
    margin-right: 0;
}
.aui-tabs.vertical-tabs.aui-legacystyle2011 > .tabs-pane {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}