/* AUI avatar component */
.aui-avatar {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
}
.aui-avatar-inner {
    display: table-cell;
    vertical-align: middle;
}
.aui-avatar img {
    border-radius: 3px;
    display: block;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}
.aui-avatar-tiny,
.aui-avatar-tiny .aui-avatar-inner {
    height: 16px;
    width: 16px;
}
.aui-avatar-small,
.aui-avatar-small .aui-avatar-inner {
    height: 24px;
    width: 24px;
}
.aui-avatar-medium,
.aui-avatar-medium .aui-avatar-inner {
    height: 32px;
    width: 32px;
}
.aui-avatar-large,
.aui-avatar-large .aui-avatar-inner {
    height: 48px;
    width: 48px;
}
.aui-avatar-huge,
.aui-avatar-huge .aui-avatar-inner {
    height: 96px;
    width: 96px;
}
.aui-avatar-huge img {
    border-radius: 5px;
}

/* Project avatars - circular and different sizes */
.aui-avatar-project {
    background-color: #fff;
    box-shadow: 0 0 0 3px #fff;
    position: relative;
}
.aui-avatar-project,
.aui-avatar-project img {
    border-radius: 100%;
}
.aui-avatar-project img {
    height: auto;
    max-height: 100%;
    max-width: 100%;
    width: auto;
}
.aui-page-panel .aui-avatar-project {
    background-color: transparent;
    box-shadow: 0 0 0 3px #707070;
}
/* The below style aims to minimise any "halo" caused by the antialiasing of the image */
.aui-page-panel .aui-avatar-project:before {
    border-radius: 100%;
    border: 1px solid #707070;
    bottom: -1px;
    content: "";
    left: -1px;
    position: absolute;
    right: -1px;
    top: -1px;
}
.aui-avatar-tiny.aui-avatar-project,
.aui-avatar-tiny.aui-avatar-project .aui-avatar-inner {
    height: 24px;
    width: 24px;
}
.aui-avatar-small.aui-avatar-project,
.aui-avatar-small.aui-avatar-project .aui-avatar-inner {
    height: 32px;
    width: 32px;
}
.aui-avatar-medium.aui-avatar-project,
.aui-avatar-medium.aui-avatar-project .aui-avatar-inner {
    height: 48px;
    width: 48px;
}
.aui-avatar-large.aui-avatar-project,
.aui-avatar-large.aui-avatar-project .aui-avatar-inner {
    height: 64px;
    width: 64px;
}
.aui-avatar-huge.aui-avatar-project,
.aui-avatar-huge.aui-avatar-project .aui-avatar-inner {
    height: 128px;
    width: 128px;
}